@charset "UTF-8";

.capa{
    width: 90%;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
   
}

.container{
    text-align: center;
   
}


.opcoes{
    padding: 10px;
}

.opcoes > a > img{
   
    width: 130%;
    border-radius: 20px;
    padding: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    
    

}

.fotos {
    transition: transform 0.5s;
  }
  
  .fotos:hover {
    transform: scale(1.1);
  }

  a{
    text-decoration: none;
    color: rgb(92, 9, 170);
  }
 footer{
    padding: 50px;
   text-align: center;
    background-color: #A982B9;
   
 }
