@charset "UTF-8";


    body {
        overflow-x: hidden;
      }


.capa{
   
    width: 97%;
}



.container{
    text-align: center;
   width:73%;
   
}


.opcoes{
    padding: 10px;
}

.opcoes > a > img{
   
    width: 130%;
    border-radius: 20px;
    padding: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    
    

}

.fotos {
    transition: transform 0.5s;
  }
  
  .fotos:hover {
    transform: scale(1.05);
  }

  a{
    text-decoration: none;
    color: rgb(92, 9, 170);
  }

 footer{
    padding-top: 50px;
   text-align: center;
    background-color: #A982B9;
   
 }
