@charset "UTF-8";


    body {
      overflow-x: hidden;
      margin: 0;
      }


.capa{
   
    width: 100%;
}
 
#sobre{
  margin-top: -30%;
}


.container{
    text-align: center;
    width: 100%;
   
}


.opcoes{
    padding: 10px;
}

.opcoes > a > img{
  text-align: center;
    width: 100%;
    border-radius: 20px;
    padding: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    
    

}

.fotos {
    transition: transform 0.5s;
  }
  
  .fotos:hover {
    transform: scale(1.05);
    background-color: #8B2F72;
    cursor: pointer;
    
  }
  
  a:hover{
    color: #DA3280;
  }
  
  a{
    text-decoration: none;
    color: rgb(92, 9, 170);
  }

 footer{
    padding-top: 50px;
   text-align: center;
    background-color: #A982B9;
    padding-bottom: 20px;
    margin-top: 70px;
    font-size: 0.8em;
   
 }
