@charset "UTF-8";

body{
  
    margin: 0;
}

header{
  background-color: #A982B9;
  padding: 0px;
  margin: 0px;
}

.capa-extra{
    width: 100%;
}
.texto{
  margin-top: 0px;
  background-color: #A982B9;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.botoes{
  text-align: center;
  padding: 20px;
  
}

.botao {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #441534; /* cor de fundo */
  color: #ffffff; /* cor do texto */
  border: 0.2px solid #0c060a; /* borda */
  padding: 10px 20px; 
  font-size: 20px;
  border-radius: 30px; /* tamanho da fonte */
  cursor: pointer; /* cursor */
  transition: 0.5s; /* efeito de transição */

}

.botao:hover {
  background-color: #f5f5f5;
  color: #441534;
  border: 1px solid #441534; 
  font-weight: bolder;
}

section> .videos{
    min-width: 300px;
max-width: 1000px;

margin: auto;
margin-bottom: 30px;
padding: 20px;
background-color: rgba(255, 255, 255, 0.555);
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.438);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}

.video{
    
    margin: -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
     }
  
    .video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }




a:hover{
    color: #DA3280;
  }
  
  a{
    text-decoration: none;
    color: rgb(92, 9, 170);
  }

 footer{
    padding-top: 50px;
   text-align: center;
    background-color: #A982B9;
    padding-bottom: 20px;
    margin-top: 70px;
    font-size: 0.8em;
   
 }

  footer>p{
    padding: 5px;
  }
